DATABASE_URL="postgresql://postgres.SEU_PROJECT_REF:SUA_SENHA@aws-0-us-east-1.pooler.supabase.com:6543/postgres?pgbouncer=true&sslmode=require"
NEXTAUTH_SECRET="gerar-uma-secret-aqui"
NEXTAUTH_URL="http://localhost:3000"
NEXT_PUBLIC_SUPABASE_URL="https://fhyxeduxnevlnsobacdt.supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY="sb_publishable_XO-8GgvrQ5kfPkqQ8lNK8w_xabJcU6x"
